@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@300;400;500;600&display=swap");



body {
  font-family: "Inter", sans-serif;
  background: radial-gradient(
    circle at top,
    #1a1a1a,
    #000000 70%
  );
}

.heading-font {
  font-family: "Playfair Display", serif;
}

.glass {
  background: rgba(24, 24, 24, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.gold-text {
  color: #c9a24d;
}

.gold-border {
  border-color: #c9a24d;
}
